* {
  margin: 0;
  padding: 0;
  border: 0;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-pokemons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-width: 200px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}
#root {
  padding: 2%;
  display: flex;
  justify-content: center;
}
main {
  border: 1px solid black;
  border-radius: 10px;
  max-width: 60%;
  padding: 1%;
}
h1 {
  text-align: center;
}
